.venv-sumo
.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.coverage
*.cover
*.hypothesis/
*.hypothesis/
*.tox/
*.coverage.*
*.mypy_cache/
*.pytest_cache/
*.pdb
*.ipynb_checkpoints
*.DS_Store
*.vscode/
*.idea/

test.py